.pxp-course-grade-card {
    height: 125px;
    min-width: 125px;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

    .pxp-course-grade-card .photo-container {
        display: flex;
        flex-direction: column;
        margin-right: 5px;
    }

    .pxp-course-grade-card .teacher-photo {
        margin-left: auto;
        margin-right: auto;
        height: 80px;
    }

    .pxp-course-grade-card .teacher-data {
        max-width: 175px;
    }

    .pxp-course-grade-card .teacher-photo img {
        width: auto;
        height: 100%;
    }

    .pxp-course-grade-card .class-name {
        font-size: 1.1rem;
    }

    .pxp-course-grade-card .teacher-name {
        padding-top: 10px;
        font-size: 1.3rem;
        color: #1e88e5;
        white-space: nowrap;
    }

    .pxp-course-grade-card .grade-container {
        text-align: center;
    }

        .pxp-course-grade-card .grade-container h3 {
            margin-top: 0px;
            color: #0098ff;
            font-size: 5em;
        }

        .pxp-course-grade-card .grade-container h4 {
            margin-bottom: 0;
            font-size: 2em;
        }
