.gradebook-google-classroom-link {
    display: inline-block;
    cursor: pointer;
    margin: 5px 0;
}

    .gradebook-google-classroom-link div {
        display: inline-block;
        line-height: 20px;
        vertical-align: middle;
        font-weight: bold;
    }
